<div class='container'>
  <div class='row'>
    <div class='col-8'>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row" class="text-nowrap">登録情報</th>
            <td><%= link_to '編集する', edit_customer_path(@user), class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <div class="table-responsive mx-auto w-50">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row" class="text-nowrap">氏名</th>
              <td><%= @user.last_name %> <%= @user.first_name %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap">カナ</th>
              <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap">郵便番号</th>
              <td><%= @user.postal_code %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap">住所</th>
              <td><%= @user.address %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap">電話番号</th>
              <td><%= @user.telephone_number %></td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap">メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row" class="text-nowrap">配送先</th>
            <td><%= link_to '一覧を見る', '/addresses', class: "btn btn-primary" %></td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">注文履歴</th>
            <td><%= link_to '一覧を見る', '/order', class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>