<div class="container">
  <div class="row my-4">
    <h2>商品一覧</h2>
    <%= link_to "+", new_admin_item_path %>
  </div>
  
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="bg-light">
          <tr class="text-center">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr class="text-center">
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item), class: "text-dark" %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.is_active ? '販売中' : '販売停止中' %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div>
  </div>
      
  <div class="row justify-content-center">
    <%= paginate @items %>
  </div>
</div>