<div class="container">
  <div class="row my-3">
    <div class="col-3">
      <%= render 'public/items/search_genre', genres: @genres %>
    </div>

    <div class="col-8 offset-1">

      <div class="row">
        <div class="card bg-dark text-white">
          <%= image_tag 'cookies.jpg', class: "card-img img-fluid" %>
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div class="m-auto">
              <p class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.5);">
                ようこそ、ながのCAKEへ!<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員ではない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
        <p class="mx-auto h4 border-bottom border-dark">新着商品</p>
      </div>

      <div class="row">
        <% @item_latest4.each do |item| %>
          <div class="col-3 text-center">
            <%= link_to item_path(item), class: "mbed-responsive embed-responsive-1by1 text-decoration-none" do %>
              <div class="embed-responsive embed-responsive-1by1">
                <%= image_tag item.get_item_image, class: "img-fluid embed-responsive-item" %>
              </div>
              <p class="text-dark mb-0 text-truncate"><%= item.name %></p>
            <% end %>
            <p class="text-truncate">￥<%= number_with_delimiter(item.with_tax_price) %></p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
