<div class="container-fluid">
  <div class="row">
    <h1><%= @genre.name %>の商品一覧</h1>
  </div>
  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <tbody>
          <% @items.where(is_active: true).each do |item| %>
            <tr>
              <td class="text-center">
                <%= image_tag item.item_image, width:"100", class:"img-fluid" %>
              </td>
              <td class="text-center align-middle"><%= link_to item.name, item_path(item) %></td>
              <td class="text-center align-middle"><%= item.introduction %></td>
              <td class="text-center align-middle">￥<%= number_with_delimiter(item.with_tax_price) %>(税込)</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to '戻る', items_path %>