<div class="container p-3">
  <div class="row col-md-12">
  <%= form_with model: Order.new, url: check_orders_path, method: :post do |f| %>
    <div class="col-md-12 offset-3 my-3">
      <h3>注文情報入力</h3>
    </div>
    <div class="col-md-12">
      <h4 class ="my-2">支払方法</h4>
      <div class="offset-md-1">
        <%= f.radio_button :payment_method, :credit_card, checked: true %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <br>
        <%= f.radio_button :payment_method, :transfer %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>

    <div class="col-md-12">
      <h4 class ="my-2">お届け先</h4>
      <div  class="offset-md-1 my-2">
        <%= f.radio_button :address, "customer_address", checked: true %>
        <%= f.label :address, "ご自身の住所" %>
        <p class="text-break offset-1">
          〒<%= current_customer.postal_code %> <%= current_customer.address %> <%= full_name(current_customer) %>
        </p>
      </div>
    </div>

    <div class="col-md-12 offset-1 my-2">
      <% if @addresses.present? && @addresses.any? %>
        <%= f.radio_button :address, "registered_address" %>
        <%= f.label :address, "登録済住所から選択" %><br>
        <%= f.select :address_id, @addresses.map { |m| [[m.postal_code, m.address, m.name].join(" "), m.id] } ,include_blank: "登録してある配送先住所から選択",class:"offset-1" %>
      <% else %>
        <p>登録済みの配送先住所はありません。</p>
      <% end %>
    </div>


    <div class="col-md-12  offset-md-1 my-2">
      <%= f.radio_button :address, "new_address" %>
      <%= f.label :address, "新しいお届け先" %>
      <table class="offset-1">
        <tr class>
          <td style="white-space: nowrap;">郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :new_postal_code,class: "ml-2 form-control narrow-input" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :new_address,class: "ml-2 form-control narrow-input"%></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :new_name,class: "ml-2 form-control narrow-input"%></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12 ">
      <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>
