<tr>
  <th scope="row" class="text-nowrap w-25">氏名</th>
  <td><%= user.last_name %> <%= user.first_name %></td>
</tr>
<tr>
  <th scope="row" class="text-nowrap w-25">カナ</th>
  <td><%= user.last_name_kana %> <%= user.first_name_kana %></td>
</tr>
<tr>
  <th scope="row" class="text-nowrap w-25">郵便番号</th>
  <td><%= user.postal_code %></td>
</tr>
<tr>
  <th scope="row" class="text-nowrap w-25">住所</th>
  <td><%= user.address %></td>
</tr>
<tr>
  <th scope="row" class="text-nowrap w-25">電話番号</th>
  <td><%= user.telephone_number %></td>
</tr>
<tr>
  <th scope="row" class="text-nowrap w-25">メールアドレス</th>
  <td><%= user.email %></td>
</tr>